html {
    
}

body {
    margin: 20px;
    background-image: radial-gradient(green, white);
}

.dropdown {
    left: 50%;
    right: auto;
    text-align: center;
    transform: translate(-50%, 0);
}

.btn {
    width: 500px;
    height: 100px;
    font-size: 2rem;
    font-family: 'Lobster', cursive;


}

a.dropdown-item {
    font-size: 1.5rem;
    font-family: 'Francois One', sans-serif;
}

.nav {
    font-family: 'Lobster', cursive;
    color: white;
}
.nav-link {
color: white;
}

.dropdown-menu {
    width: 500px;
}

.card {}

.jumbotron {
    height: 188px;
    font-family: 'Lobster', cursive;
    font-size: 100px;
    background-image: url(../images/jumbotron1.JPG);
    background-size: cover; 
    background-repeat: no-repeat;
    transition: 1000ms;
    
    
}


.footer {
    font-family: 'Lobster', cursive;
    color: white;
    text-align: center;
}

section {
    font-family: 'Lobster', cursive;
    color: white;
    text-align: center;
}

h5 {
    font-family: 'Lobster', cursive;
    color: white;
    text-align: center;
}

h6 {
    font-family: 'Lobster', cursive;
    color: white;
    text-align: center;
}

#aboutus {
    font-size: 28px;
}

  aside {
      font-size: 16px;
    font-family: 'Lobster', cursive;
    color: white;
    text-align: center;
  }


  
  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px)  { 
     
     .jumbotron {
         width: 762px;
         background-image: url(../images/jumbotron1mobile.jpg);
         border-image: none;

     }

  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3)
    and (orientation : portrait) 
     { 
        .jumbotron {
            width: 762px;
            background-image: url(../images/jumbotron1mobile.jpg);
            border-image: none;
   }

    @media only screen 
    and (device-width : 375px) 
    and (device-height : 667px) 
    and (-webkit-device-pixel-ratio : 2)
    and (orientation : portrait) 
     { 
        .jumbotron {
            width: 762px;
            background-image: url(../images/jumbotron1mobile.jpg);
            border-image: none;
   }

    @media only screen 
    and (device-width : 414px) 
    and (device-height : 736px) 
    and (-webkit-device-pixel-ratio : 3)
    and (orientation : portrait) 
     { 
        .jumbotron {
            width: 762px;
            background-image: url(../images/jumbotron1mobile.jpg);
            border-image: none;
   }

   